Q1 .   Ans-   Comment in python identified by ' # 'symbole
and it may be enclosed by 3 times semi collone
    
    It can be 2 type :
        1. single line comment  Ex- (#  raja )
        2. Multi line comment   Ex- ('''    raja ''')
 Q2 .  Ans- Data type in python are following type
         such as :
         1, numbers  -
             int
             floa
             complex
             bool
        2.sequence -
            string
            list
            tuples
        3.set
        4.None
        5.dictionary
    to assign a value we can use assignment operator (=)
    and also run time
    Ex- 1. a=5
        2. input()
Q3 .  Ans- to convert data type we can use typecasting
        1. implicit 
        2. Explicit
        These are the two method to convert the data
Q4. Ans-To execute python file in command line we can type key word python <file name> then press enter

In [5]:
# Q5. ans 
my_list=[1,2,3,4,5]
d=my_list[1:3]
print(d)

[2, 3]

Q6: Complex number is nothng but it is a number having 2 parts 
one is real part and other is imaginary part
 It can be represented by  like 5+7j
    here imaginary part must be denoted by j

In [6]:
#Q7. ans - Declare variable name Age =25
age=25
age

25

In [7]:
#Q8. ans  Declare variable name price and its data type
price=9.99
print(type(price))

<class 'float'>

In [8]:
#Q9. assign vaeiable named name and print it
Name='Hrushikesh mohapatra'
print(Name)

Hrushikesh mohapatra

In [12]:
# Q10. a string "hello world" extract sub string
a='hello world!'
b=a.index('world')
b

6

In [14]:
len(a)

11

In [18]:
a[6:len(a)]

'world'

In [21]:

# Q11- create a variable name is_student check it is a student or notis_student=bool(1)
is_student=bool(1)
is_student

True

In [22]:
is_student=bool(0)
is_student

False